*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color:whitesmoke;
    border: 5px solid black;
    height: 100px;


}

.websitebar{

    float:center;
    clear:right;
    display: block;
    margin: 0 auto;
    width: 550px;
    border: 2px solid black;
    height:15px;
    clear: right;
}

.centerbar{


    display: block;
    margin: 0 auto;
    width: 850px;
    border: 2px solid black;
    height:15px;
    margin-top: 20px;
    height: 30px;

}

::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
    font-size: 13px;
  }


  .maincenterbar{

    text-align: center;
    display:block;
    margin:auto;
    font-size: 150px;
    margin-top:100px;

  }

  button{
      display:inline-block;
      margin: 0 auto;
      width: auto;
      font-size: 20px;





  }
