*{
    font-family:sans-serif
}

.header{
    background-color:lightgray;
    border: 5px solid black;
    height: 150px;


}

.websitebar{
    margin-left:135px;
    width: 50%;
    border: 2px solid black;

    height: 30px;

}

.searchbar{

    margin-left:90px;
    width: 15%;
    border: 2px solid black;
    height:15px;
    margin-top: 20px;
    height: 30px;
    border-radius: 15px;

}

.centerbar{


    display: block;
    margin: 0 auto;
    width: 65%;
    border: 2px solid black;
    height:15px;
    margin-top: 20px;
    height: 30px;

}

::-webkit-input-placeholder {
    color: black;
    font-weight:400;
    font-size: 19px;
  }


  .maincenterbar{

    text-align: center;
    display:block;
    margin:auto;
    font-size: 10vw;
    margin-top:75px;

  }

  button{
      display:inline-block;
      margin: 0 auto;
      width: auto;
      font-size: 20px;

  }

  .footer{

    background-color: lightgray;
    height:4vw;
    width:100%;
    border: 1px solid black;
  }

  .centerlinks {


  }
